<!DOCTYPE html>
<html>
  <head>
    <title>Query</title>
    <style>
      body {
        font-family: Open Sans, Arial;
        color: #444444;
        font-size: 16px;
        margin: 2em auto;
        max-width: 800px;
        padding: 1em;
        line-height: 1.4;
        text-align: justify;
      }

      div.form-container {
        width: 600px;
        max-width: 100%;
        display: grid;
        // grid: 100% / auto auto;
        grid: auto-flow 30px / auto auto;
        row-gap: 12px;
      }

      button.submit {
        margin-top: 2em;
        width: 200px;
      }
    </style>
  </head>

  <body>
    <h1>Hello (<a href="/help">help!</a>)</h1>
    <form action="/query" method="GET">
      <div class="form-container">
        <span>Query</span>
        <input name="query" type="text" value="{{ params.query }}" />

        <span>Pattern</span>
        <input name="pattern" type="text" value="{{ params.pattern }}" />

        <span>Partial Match</span>
        <input name="partial" type="checkbox" {% if params.partial %} checked {% endif %} />
      </div>

      <button class="submit" type="submit">Search</button>
    </form>

    {% if elapsed %}
      <h4>Search took {{ elapsed }} seconds. There are {{ results|length }} matches.</h4>
      {% if results|length > 4000 %}
        <h4 style="color:red;">There are probably missing results! Narrow down your query.</h4>
      {% endif %}
    {% endif %}

    {% if results %}
      {% for result in results %}
        <p style="font-size: {{ result[3] }}px; padding: 0; margin: 0; line-height: 1.1;">{{ result[1] }}</p>
      {% endfor %}
    {% endif %}
  </body>
</html>
